.button-container {
  display: flex;
  justify-content: space-between; /* 均等分布按钮 */
  margin-bottom: 10px;
}

.button-container button {
  flex: 1; /* 使按钮均等分布 */
  margin: 0 5px; /* 调整按钮间距 */
  padding: 5px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  width: 300px; /* 调整弹出窗口的宽度 */
}

h1 {
  color: #333;
  text-align: center;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005a9e;
}

#clearButton:hover {
  background-color: #ff4d4d; /* 红色 */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 调整元素间距 */
  background-color: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.time {
  font-weight: bold;
  color: #555;
}

.query {
  margin-left: 10px;
  color: #777;
}

.delete-button {
  margin-right: 10px; /* 调整按钮位置 */
  padding: 5px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 24px; /* 调整按钮宽度 */
  height: 24px; /* 调整按钮高度 */
  background-image: url('trash-can-svgrepo-com.svg'); /* 使用垃圾桶图片 */
  background-size: 16px 16px; /* 调整图像大小 */
  background-repeat: no-repeat;
  background-position: center;
}
